.avatar{
    margin: auto;
}

.card{
    font-family: 'Impact', sans-serif; 
    color: black; 
    text-align: justify; 
    letter-spacing: 1px;// controlar los espacios entre textos
    display: inline-block;
    border: 2.5px ;
    height: 400px; // altura de la card
    
  }