#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.h1{
  font-family: 'Impact', sans-serif; 
  color: grey; 
  text-align: left; 
  text-transform: uppercase; 
  letter-spacing: 2px;
  border-radius: 5px;
  margin-bottom: 5px;
  position: relative;
}

