<!--cabezera-->
<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-menu-button autoHide="false">   
      </ion-menu-button>
    </ion-buttons> 
    <ion-title class="ion-text-center" >BoletApp </ion-title>
  </ion-toolbar>
</ion-header>
  
<ion-content> 
  <ion-content>
    <swiper-container
    [pagination]="true"
    [slidesPerView]="3"
    >
        <swiper-slide *ngFor="let slide of event_list">
            <img src="{{slide.image}}">
        </swiper-slide>
    </swiper-container>

</ion-content>

<ion-content> 
  <ion-content>
    <swiper-container
    [pagination]="true"
    [slidesPerView]="3"
    >
        <swiper-slide *ngFor="let slide of category_list">
            <img src="{{slide.image}}">
        </swiper-slide>
    </swiper-container>

</ion-content>

 
</ion-content>




